<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Práctica del Tema 2-DIW</h1>
         <h2>Bienvenido a mi sitio web en el cual aplicamos accesibilidad</h2>
    </header>
    <main>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/acercade.html">Acerca de</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <div>
        <h2>Accesibilidad a la Wed <hr></h2>
        <b>La accesibilidad web tiene como objetivo lograr que las páginas web sean utilizables por el máximo número de personas, independientemente de sus conocimientos o capacidades personales e independientemente de las características técnicas del equipo utilizado para acceder a la Web.</b>
    </div>
    </main>
    <footer>
        <p>Correo electronico: ercarter@gmail.com</p>
        <p>Telefono: 644 367 294</p>
    </footer>

</body>
</html>